.backdrop {
  position: absolute;
  background-color: rgba(34, 34, 34, 0.6);
  transform: translateY(0px);
  width: 100vw;
  height: 100vh;
}

.backdrop.fade-out {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-250px);
  transition: visibility 0s linear 500ms, opacity 500ms, transform 500ms;
}

.backdrop.fade-in {
  visibility: visible;
  opacity: 1;
  transform: translateY(250px);
  transition: visibility 0s linear 0s, opacity 500ms, transform 500ms;
}

.backdrop .modal {
  opacity: 0;
  transition: 0.3s;
}

.backdrop.fade-in .modal {
  opacity: 100;
  display: block;
}
